*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* no genera el scrom por que resta el pading y el border con el width */
}
main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}